/*General CSS*/
body {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    height: 100%;
    
}
/*top-section*/
.header {
    background-color: rgb(8, 8, 70);
    color: white;
    margin: 0;
    padding: 0;
}

.top-banner {
    display: flex;
    justify-content: center;
    margin: 0;  
}

/*menu and workspace*/
.mid-section {
    display: flex;
    height: 74.6vh;
    padding: 10px;
    background-color: rgb(195, 202, 202);
    margin: 0;
    
}
/*menus-section*/
.side-bar {
    background-color:whitesmoke;
    width: 200px;
    margin: 5px;
    border-radius: 9px;
    
}
/*body-section*/
.content {
    background-color:whitesmoke;
    width: 1200px;
    margin: 5px;
    border-radius: 9px;
}
/*footer-section*/
.footer {
    display: flex;
    flex: 1;
    background-color: rgb(8, 8, 70);
    justify-content: center;
    color: white;
}