body {
    background-color: rgb(8, 8, 70);
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

li, a {
    list-style: none;
    text-decoration: none;
}
/*login form*/
.log-box {
    background-color: beige;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}